<% include ../partials/header %>
<div class="ui grid">
    <div class="sixteen wide column">
    <div class="ui container">
        <table class="ui sortable celled table">
        <thead>
            <tr><th class="ascending">Watched</th>
            <th class="ascending">Name</th>
            <th class="ascending">Added on</th>
        </tr></thead>
        
        <tbody>
            <% movies.forEach(function(movie){ %>
                <tr>
                <td data-label="Name">
                    <div class="ui checkbox">
                        <% if (!movie.watched) { %>
                            <input type="checkbox" class="controller" id=<%=movie._id%>>
                        <% } else { %>
                            <input type="checkbox" class="controller" id=<%=movie._id%> checked>
                        <% }%>
                        <label></label>
                    </div>
                </td>
                <td data-label="Name"><%= movie.name %></td>
                <td data-label="Created"><%= movie.date.getMonth()+1 %>/<%= movie.date.getDate() %>/<%= movie.date.getFullYear() %></td>
                </tr>
            <% }) %>
                </tbody>
            </table>
        <ul>
    </div>
    
    </div>

</div>

<!-- <script src="/js/superSecureAuth.min.js"></script> -->
<% include ../partials/footer %>